html {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;

}
#headerNav{
  background-color: black;
  padding: 0 0 0 2vw!important; 
}
#buttonTop{
  margin-right: 6vw;
}
#menu{
  padding: 0;
}
#leoLogo{
  height: 10vh;
}
#menuList{
  font-size: 1.25rem;
}
#menuList>li{
padding-left: 2rem;
text-align: center;

}
#menuList>li>a{
  color: white;
  font-weight: 500;
  padding-bottom: 0.5rem;

}
#menuList>li>a:hover{
  color: #e9ae50;
  }
#imgBck{
  padding: 5vh 0;
  height: 100vh;
}
#prezText{
  background-color: rgba(0, 0, 0, 0.6);
}
#prezText>h1{
  color: #ffffff;
  font-size: 7rem;
  font-weight: 700;
}
#prezText>h2{
  color: #ffffff;
  font-size: 4rem;
  font-weight: 700;
}
@media (min-width: 992px) {
  #menuList>li>a:hover{
  border-bottom: 2px solid #e9ae50;
  }
}